@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{margin:0;padding:0;box-sizing:border-box;} /* CLEAN RULE*/
a{text-decoration: none;}
h1,h2,h3,h4,p,li{font-family: 'Inter', sans-serif;} /* GENERAL FONT*/



/*CSS menu*/
header
{
    width: 100%;
    background-color: #1f1a17;
    height: 50px;
    position: relative;
}

header>img 
{
    width: 100px;
    height: 100px;
    top: 25px;
    left: 25px;
    position: absolute;
    z-index: 1;
    background-image: url("../images/logo/29b08f305773d53ee8eaaa0708ae2dea.png");
    background-position: center;
    background-size: cover;
}

header>nav 
{
    width: auto;
    float: right;
    margin-right: 25px;
    line-height: 50px;
    height: 50px;
}

header>nav ul
{
    width: auto;
    display: inline-flex;
}

header>nav ul li
{
    list-style: none;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    color: #E6E6E6;
}

header>nav ul li a 
{
    color: #E6E6E6;
}

header>nav ul li:hover 
{
    transition: 1.5s all ease;
    color: #00ACE2;
    transform: scale(1.05);
}

header>nav ul li a:hover 
{
    transition: 1.5s all ease;
    color: #00ACE2;
    transform: scale(1.05);
}



/*CSS banner inmediato a menu inicio*/
.banner_top
{
    height: 30vh;
    border-bottom: 1px solid #F0F0F0;
}

.banner_top .row>div:nth-child(1)
{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #F0F0F0;
    background-image: url("../images/portada_top/jazz-g097b2eb0c_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_top .row>div:nth-child(1) h1 
{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    text-shadow: 0px 0px 20px #FFFFFF;
}

.banner_top .row>div:nth-child(2)
{
    background-image: url("../images/portada_top/jazz-gf1b0a335a_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/*CSS contacto*/
.subtitle
{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 50px 0 10px 30px;
}

#footer_secion
{
    width: 100%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1C1C1C;
}

#footer_secion>div img 
{
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
}

#footer_secion>div p 
{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 30px;
    color: #E6E6E6;
}

.menu_mobile
{
    display: none;
}

@media (max-width:800px)
{
    #footer_secion
    {
        height: 30vh;
    }

    #footer_secion>div img 
    {
        width: 40px;
        height: 40px;
    }

    #footer_secion>div p 
    {
        font-size: 0.7rem;
        font-weight: 700;
        text-align: center;
    }

    .banner_top .row>div:nth-child(1) h1 
    {
        font-size: 1rem;
    }

    .subtitle, .banner_top .row>div:nth-child(1) h1 
    {
        text-align: center;
        margin: 50px 0 0 0;
    }

    header
    {
        position: fixed;
        z-index: 331;
    }

    header>nav
    {
        width: 70vw;
        height: 100vh;
        position: fixed;
        z-index: 333;
        background: #1f1a17;;
        left: 30vw;
        transform: translateX(70vw);
        transition: all ease 1.5s;
    }

    .menu_show
    {
        transform: translateX(0);
    }

    header>nav>ul 
    {
        width: 70vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
    }

    header>img 
    {
        width: 50px;
        height: 50px;
        position: fixed;
        left: 25px;
        top: 25px;
    }

    .menu_mobile
    {
        display: initial;
        position: fixed;
        width: 25px;
        height: 25px;
        top: 12.5px;
        right: 12.5px;
        z-index: 334;
    }
}
