@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{margin:0;padding:0;box-sizing:border-box;} /* CLEAN RULE*/
a{text-decoration: none;}
h1,h2,h3,h4,p,li{font-family: 'Inter', sans-serif;} /* GENERAL FONT*/



/*CSS menu*/
header
{
    width: 100%;
    background-color: #F0F0F0;
    height: 50px;
    position: relative;
}

header>img 
{
    width: 200px;
    height: 50px;
    top: 25px;
    left: 25px;
    background-color: #F0F0F0;
    position: absolute;
    z-index: 1;
}

header>nav 
{
    width: auto;
    float: right;
    margin-right: 25px;
    line-height: 50px;
    height: 50px;
}

header>nav ul
{
    width: auto;
    display: inline-flex;
}

header>nav ul li
{
    list-style: none;
    margin-right: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
}

header>nav ul li a 
{
    color: black;
}

header>nav ul li:hover 
{
    transition: 1.5s all ease;
    color: #00ACE2;
    transform: scale(1.05);
}

header>nav ul li a:hover 
{
    transition: 1.5s all ease;
    color: #00ACE2;
    transform: scale(1.05);
}



/*CSS banner inmediato a menu inicio*/
.banner_top
{
    width: 100%;
    height: 30vh;
    border-bottom: 1px solid #F0F0F0;
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.banner_top>div:nth-child(1)
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #F0F0F0;
}

.banner_top>div:nth-child(1) h1 
{
    font-size: 1rem;
    font-weight: 300;
}



/*CSS contacto*/
.subtitle
{
    font-size: 1rem;
    font-weight: 700;
    margin: 50px 0 10px 30px;
}

#footer_secion
{
    width: 100%;
    height: 25vw;
    border:1px solid #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_secion>div img 
{
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background-color: #E8E8E8;
}

#footer_secion>div p 
{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}

@media (max-width:600px)
{
    *
    {
        display: none;
    }
}

