@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*CSS indicacion posicion en menu*/
header>nav>ul li:nth-child(1)
{
    font-weight: 600;
}

/*CSS seccion de presentacion*/
.presentation_sec
{
    margin-top: 30px;
}

.presentation_sec .row div:nth-of-type(2)
{
    border: 1px solid #E8E8E8;
}

.presentation_sec .row div h2
{
    font-size: 1.3rem;
    font-weight: 100;
}

.presentation_sec .row div p
{
    margin-top: 30px;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    word-spacing: 6px;
}


/*CSS articulos */
.submenu_articulos
{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 50px;
}

.services_sec
{
    margin-top: 30px;
}

.services_sec article h3
{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.services_sec article p
{
    font-size: 1rem;
    font-weight: 200;
    padding-left: 30px;
}

.services_sec article button
{
    width: 130px;
    height: 30px;
    border: none;
    float: right;
    color: white;
    background-color: #00ACE2;
}

/* CSS imagen publicidad*/
.banner_publicidad
{
    position: relative;
    display: block;
    width: 90vw;
    margin: 55px 0 55px 5vw;
    background:#E8E8E8;
    height: 15vw;
}

@media (max-width:800px)
{
    .presentation_sec .row div:nth-of-type(2)
    {
        height: 300px;
    }

    .services_sec .row 
    {
        margin: 50px 0 50px 0;
    }

    .banner_publicidad
    {
        width: 90vw;
        height: 45vw;
        margin: 5vw;
    }

    .services_sec article p
    {
        font-size: 0.7rem;
        max-height: 150px;
        overflow-y: scroll;
    }

    .services_sec article h3 
    {
        font-size: 0.7rem;
    }
}

