@mixin menu_li_positioned
{
    font-weight: 600;
    color: $color-page-menu;
}

@mixin article_text_corpse($weight)
{
    font-size: 1rem;
    font-weight: $weight;
}

@mixin referentes_target($img_url, $direction)
{
    background-image: $img_url;
    background-position: $direction;  
}