@mixin menu_li_positioned
{
    font-weight: 600;
    color: $color-page-menu;
}

@mixin article_text_corpse($weight)
{
    font-size: 1rem;
    font-weight: $weight;
}

@mixin referentes_target($obj_fit, $obj_pos)
{
    object-fit: $obj_fit;
    object-position: $obj_pos;
}

@mixin gallery_gri_config($col,$col_width,$row,$row_height,$gap)
{
    grid-template-columns: repeat($col, $col_width);
    grid-template-rows: repeat($row, $row_height);
    grid-gap: $gap;
}

@mixin text_corpse_referentes($size, $weight,$align)
{
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
}