/*CSS indicacion posicion en menu*/
#menu
{
    ul 
    {
        li:nth-child(3) 
        {
            @include menu_li_positioned();
        }
    }
}

/*CSS galeria*/
.gallery
{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(4, 25vw);
    grid-gap: 3px;
    justify-content: center;
    align-content: center;
    margin-top: 40px;

    img 
    {
        width: 25vw;
        height: 25vw;
        border: 1px solid #C8C8C8;
        object-fit: cover;
    }
}

@media(max-width:1100px)
{
    *
    {
        display: none;
    }
    
}