/*CSS indicacion posicion en menu*/
#menu
{
    ul 
    {
        li:nth-child(3) 
        {
            @include menu_li_positioned();
        }
    }
}
/*CSS galeria*/
.gallery
{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    @include gallery_gri_config(3,25vw,4,25vw,3px);
    justify-content: center;
    align-content: center;
    margin-top: 40px;

    img 
    {
        width: 25vw;
        height: 25vw;
        border: 1px solid #C8C8C8;
        object-fit: cover;
    }
}

@media(max-width:1100px)
{
    .gallery
    {
        @include gallery_gri_config(1,90vw,12,90vw,3px);

        align-items: center;
        justify-items: center;

        img 
        {
            width: 80vw;
            height: 80vw;
        }
    }
}