/*CSS indicacion posicion en menu*/
#menu
{
    ul 
    {
        li:nth-child(4) 
        {
            @include menu_li_positioned();
        }
    }
}

.seccion_historia 
{
    h3
    {
        margin-top: 50px;
        font-size: 1.5rem;
    }
    
}

@media(max-width:1100px)
{
    *
    {
        display: none;
    }
    
}