/*CSS indicacion posicion en menu*/
#menu
{
    ul 
    {
        li:nth-child(1) 
        {
            @include menu_li_positioned();
        }
    }
}

/*CSS seccion de presentacion*/
.presentation_sec
{
    margin-top: 60px;

    .row 
    {
        div:nth-of-type(2)
        {
            border: 1px solid $background-color-gris-two;
            background-image:url("../images/inicio_presentacion/Origen-del-jazz75.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        div 
        {
            p 
            {
                margin-top: 30px;
                font-size: 0.8rem;
                font-weight: 300;
                letter-spacing: 0.5px;
                word-spacing: 6px;
            }
        }
    }
}

/*CSS articulos */
.services_sec
{
    margin-top: 100px;
    
    article 
    {
        h3 
        {
            @include article_text_corpse(500);
            margin-bottom: 15px;
        }

        p 
        {
            @include article_text_corpse(200);
            padding-left: 30px;
        }

        button 
        {
            width: 130px;
            height: 30px;
            border: none;
            float: right;
            color: white;
            background-color: $color-page-menu;
            font-weight: 600;

            &:hover 
            {
                -webkit-animation: jello-horizontal 0.9s both;
	            animation: jello-horizontal 0.9s both;
            }
        }
    }

    .row 
    {
        margin-bottom: 50px;
    }
}

/* CSS imagen publicidad*/
.banner_publicidad
{
    position: relative;
    display: block;
    width: 90vw;
    margin: 55px 0 55px 5vw;
    height: 30vw;
    object-fit: cover;
    object-position: center;
}

/*CSS MOBILE INDEX*/
@media (max-width:800px)
{
    .presentation_sec 
    {
        .row
        {
            div:nth-of-type(2) 
            {
                height: 300px;
            }
        } 
    }

    .services_sec 
    {
        .row 
        {
            margin: 50px 0;
        }
    }

    .banner_publicidad
    {
        width: 90vw;
        height: 45vw;
        margin: 5vw;
    }

    .services_sec 
    {
        article 
        {
            p 
            {
                font-size: 0.7rem;
                height: 15vh;
                max-height: 15vh;
                overflow-y: scroll;
            }

            h3 
            {
                font-size: 0.7rem;
                height: 2vh;
                max-height: 2vh;
            }
        }   
    }
}