/*CSS indicacion posicion en menu*/
#menu
{
    ul 
    {
        li:nth-child(2) 
        {
            @include menu_li_positioned();
        }
    }
}

/*CSS nuestro equipo*/
.grid_our_team
{
    margin-top: 50px;
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,20vw);
    grid-template-rows: repeat(2,30vw);
    justify-content: center;
    align-content: center;
    row-gap: 30px;
    column-gap: 100px;
    align-items: start;

    div
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;

        img
        {
            width: 12vw;
            height: 12vw;
            border-radius: 50%;
            background-color: $background-color-gris-one;
            background-size: cover;
            background-position: center;
        }

        h3 
        {
            margin-top: 20px;
            @include text_corpse_referentes(1rem, 500,left);
        }

        h4
        {
            @extend h3;
            margin-bottom: 10px;
            font-weight: 300;
        }

        p 
        {
            @include text_corpse_referentes(0.8rem, 400,left);
        }
    }

    div
    {
        img 
        {
            @include referentes_target(cover,center);
        }
    }
    
    div:nth-child(2)
    {
        img 
        {
            @include referentes_target(cover,right);
        }
    }

    div:nth-child(3)
    {
        img 
        {
            @include referentes_target(cover,left);
        }
    }

    div:nth-child(4)
    {
        img 
        {
            @include referentes_target(cover,right);
        }
    }
}

@media (max-width:800px)
{
    .grid_our_team 
    {
        grid-template-columns: repeat(1,80vw);
        grid-template-rows: repeat(6,auto);
        row-gap: 30px;
        column-gap:10px;

        div 
        {
            overflow-y:scroll;
            justify-content: start;
            align-items: center;

            img 
            {
                height: 60vw;
                width: 60vw;
            }

            p
            {
                text-align: center;
            }
        }
    }
}